	<div class="page page-table" data-ng-controller="CartController">
		<section class="panel panel-box">
			<div class="panel-top bg-success">
				<i class="fa fa-shopping-cart text-large"></i>
			</div>
			<div class="panel-bottom bg-reverse">
				<p class="size-h1">{{cart.length}}</p>
				<p class="text-muted">products selected</p>
			</div>
		</section>
		<section class="panel panel-default table-dynamic">
			<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Cart</strong></div>

			<div class="table-filters">
				<div class="row">
					<div class="col-sm-4 col-xs-6">
						<form>
							<input type="text"
							placeholder="Search..."
							class="form-control"
							data-ng-model="searchKeywords"
							data-ng-keyup="search()">
						</form>
					</div>
					<div class="col-sm-3 col-xs-6 filter-result-info">
						<span>
							Showing {{filteredStores.length}}/{{cart.length}} entries
						</span>              
					</div>
					<div class="col-sm-5 col-xs-6">

						<div class="pull-right">
							<button class="btn btn-danger" ng-click="clearCart()">Clear Cart</button>
						</div>
				</div>
				</div>
			</div>

			<table class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th><div class="th">
							Product
							<span class="fa fa-angle-up"
							data-ng-click=" order('product') "
							data-ng-class="{active: row == 'product'}"></span>
							<span class="fa fa-angle-down"
							data-ng-click=" order('-product') "
							data-ng-class="{active: row == '-product'}"></span>
						</div></th>
						<th><div class="th">
							Price
							<span class="fa fa-angle-up"
							data-ng-click=" order('price') "
							data-ng-class="{active: row == 'price'}"></span>
							<span class="fa fa-angle-down"
							data-ng-click=" order('-price') "
							data-ng-class="{active: row == '-price'}"></span>
						</div></th>
						<th><div class="th">
							Quantity
							<span class="fa fa-angle-up"
							data-ng-click=" order('quantity') "
							data-ng-class="{active: row == 'quantity'}"></span>
							<span class="fa fa-angle-down"
							data-ng-click=" order('-quantity') "
							data-ng-class="{active: row == '-quantity'}"></span>
						</div></th>
						<th>
							<div class="th"></div>
						</th>
						<th>
							<div class="th"></div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="product in cart">
						<td>{{product.name}}</td>
						<td>${{product.price * product.quantity | number: 2}}</td>
						<td>{{product.quantity}}</td>
						<td><button class="btn btn-success" ng-click="addItem(product.productId)"><i class="fa fa-plus"></i></button>&nbsp;<button class="btn btn-success" ng-click="removeItem(product.productId)"> <i class="fa fa-minus"></i></button> </td>
						<td><button class="btn btn-danger" ng-click="removeProduct(product.productId)">remove</button></td>
					</tr>
				</tbody>
			</table>

			<footer class="table-footer">
				<div class="row">
					<div class="col-md-6 page-num-info">
						<span>
							Show 
							<select data-ng-model="numPerPage"
							data-ng-options="num for num in numPerPageOpt"
							data-ng-change="onNumPerPageChange()">
						</select> 
						entries per page
					</span>
				</div>
				<div class="col-md-6 text-right pagination-container">
					<pagination class="pagination-sm"
					ng-model="currentPage"
					total-items="cart.length"
					max-size="4"
					ng-change="select(currentPage)"
					items-per-page="numPerPage"
					rotate="false"
					previous-text="&lsaquo;" next-text="&rsaquo;"
					boundary-links="true"></pagination>
				</div>
			</div>
		</footer>
	</section>
</div>
